ul {
  list-style-type: none;
  margin: 0 4rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

ul li {
  transition: transform 0.25s ease-in-out;
}

ul li:hover {
  transform: scale(1.01);
}

img {
  width: 100%;
  height: 175px;
}

main {
  margin-inline: 4rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.75);
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

main img,
main svg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ddd;
}

main div {
  display: flex;
  flex-direction: column;
  margin-inline: auto 1rem;
}

main div input[type="submit"] {
  font-size: 1.3rem;
  padding-inline: 1rem;
}

main div p {
  text-align: center;
}
